gradio
torch
numpy
scipy
pydub
sounddevice
gTTS
pygame
google-generativeai
python-dotenv
langchain
langgraph
langchain-google-genai
langchain-community
langchain-tavily
tavily-python
pywhatkit
requests
 deepgram-sdk


